<template>
<div>
  <nav class="panel column is-offset-2 is-8">
    <p class="panel-heading">
      VueJs PhoneBook
      <button class="button is-link is-outlined" @click="openAdd">
        Add New
      </button>
    </p>

    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input is-small" type="text" name="" placeholder="search" v-model="searchQuery">
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </p>
    </div>

    <a class="panel-block" v-for="item,key in temp">
      <span class="column is-9">
        {{item.name}}
      </span>
      <span class="panel-icon column is-1">
        <i class="has-text-danger fa fa-trash" aria-hidden="true" @click="openDelete(key)"></i>
      </span>
      <span class="panel-icon column is-1">
        <i class="has-text-info fa fa-edit" aria-hidden="true" @click="openUpdate(key)"></i>
      </span>
      <span class="panel-icon column is-1">
        <i class="has-text-primary fa fa-eye" aria-hidden="true" @click="openShow(key)"></i>
      </span>
    </a>
  </nav>

  <add :openmodal="addActive" @closeRequest="closeModal"></add>
  <show :showdetail="showActive" @closeRequest="closeModal"></show>
  <update :updatedetail="updateActive" @closeRequest="closeModal"></update>
  <delete :deletedetail="deleteActive" @closeRequest="closeModal"></delete>

  </div>


</template>

<script>
  var Add = Vue.component('add', require('./Add.vue').default);
  var Show = Vue.component('show', require('./Show.vue').default);
  var Update = Vue.component('update', require('./Update.vue').default);
  var Delete = Vue.component('delete', require('./Delete.vue').default);
  export default{
    components:{Add,Show,Update},
    data(){
      return{
        addActive: '',
        showActive: '',
        updateActive: '',
        deleteActive: '',
        lists:{},
        errors:{},
        searchQuery:'',
        temp:'',
      }
    },
    watch:{
      searchQuery(){
        if(this.searchQuery.length>0){
          this.temp = this.lists.filter((item)=>{
            return Object.keys(item).some((key)=>{
              let string = String(item[key])
              return string.toLowerCase().indexOf(this.searchQuery.toLowerCase())>-1
            });
          });
        }else{
          this.temp = this.lists
        }
      }
    },
    mounted(){
      axios.post('/getData').then((response)=>this.lists=this.temp = response.data)
        .catch((error)=>this.errors=error.response.data.errors);

    },
    methods:{
      openAdd(){
        this.addActive = 'is-active';
      },
      openShow(key){
        this.$children[1].list = this.temp[key];
        this.showActive = 'is-active';
      },
      openUpdate(key){
        this.$children[2].list = this.temp[key];
        this.updateActive = 'is-active';
      },
      openDelete(key){
        this.$children[3].list = this.temp[key];
        this.deleteActive = 'is-active';
      },
      closeModal(){
        this.addActive= this.showActive= this.updateActive= this.deleteActive = '';
      }
    }
  }
</script>