<template>
	<footer class="footer">
	  <div class="content has-text-centered">
	    <p>
	      <strong>Vue Js Phone Book App</strong> by <a href="https://rajeevkumarmajhi.com">Rajeev Majhi</a>. The source code is licensed
	      <a href="http://github.com/ragemage/learnvue">Rktech</a>. The rajeevkumarmajhi
	      is licensed <a href="#">CC BY NC SA 4.0</a>.
	    </p>
	  </div>
	</footer>
</template>