<template>
	<div class="modal" :class="showdetail">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Contact Detail</p>
				<button class="delete" aria-label="close" @click="closemodal"></button>
			</header>
			<section class="modal-card-body">
				<li class="panel-block">
					<label class="column is-2"><b>Name</b></label>{{list.name}}
				</li>
				<li class="panel-block">
					<label class="column is-2"><b>Phone</b></label>{{list.phone}}
				</li>
				<li class="panel-block">
					<label class="column is-2"><b>Email</b></label>{{list.email}}
				</li>
			</section>
			<footer class="modal-card-foot">
			</footer>
		</div>
	</div>
</template>

<script>
	export default{
		props:['showdetail'],
		data(){
			return{
				list:'',
				errors:{},
			}
		},
		methods:{
			closemodal(){
				this.$emit('closeRequest')
			},
		}
	}
</script>