<template>
	<div class="modal" :class="updatedetail">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Modal title</p>
				<button class="delete" aria-label="close" @click="closemodal"></button>
			</header>
			<section class="modal-card-body">
					<div class="field">
						<label class="label">Name</label>
						<div class="control has-icons-left">
							<input class="input" type="text" placeholder="Enter Your Name" v-model="list.name">
							<span class="icon is-small is-left">
								<i class="fa fa-user"></i>
							</span>
						</div>
					</div>

					<div class="field">
						<label class="label">Phone Number</label>
						<div class="control has-icons-left has-icons-right">
							<input class="input"  type="number" placeholder="Phone Number" v-model="list.phone">
							<span class="icon is-small is-left">
								<i class="fa fa-phone"></i>
							</span>
						</div>
					</div>

					<div class="field">
						<label class="label">Email</label>
						<div class="control has-icons-left has-icons-right">
							<input class="input"  type="email" placeholder="Email" v-model="list.email">
							<span class="icon is-small is-left">
								<i class="fa fa-envelope"></i>
							</span>
						</div>
					</div>
			</section>
			<footer class="modal-card-foot">
				<button class="button is-success" @click="update">Update</button>
				<button class="button" @click="closemodal">Cancel</button>
			</footer>
		</div>
	</div>
</template>

<script>
	export default{
		props:['updatedetail'],
		data(){
			return{
				list:{
					'name':'',
					'phone':'',
					'email':'',
				},
				errors:{},
			}
		},
		methods:{
			closemodal(){
				this.$emit('closeRequest')
			},
			update(){
				axios.patch(`/phonebook/${this.list.id}`,this.$data.list).then((response)=>this.closemodal())
				.catch((error)=>this.errors=error.response.data.errors);
			}
		}
	}
</script>